@charset "UTF-8";
/*閫氱敤鏍峰紡*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "瀹嬩綋"; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  border: none; }

h2 {
  font-size: 22px;
  font-weight: 200;
  color: #333;
  float: left;
  line-height: 58px; }

.clearfix {
  overflow: hidden;
  _zoom: 1; }

.center {
  width: 1226px;
  margin: 0 auto; }

/*#header*/
#header .bner {
  background: #fff url("../img/bner/1.jpg") no-repeat center;
  width: 100%;
  height: 100px; }
#header .top-nav {
  height: 40px;
  width: 100%;
  min-width: 1226px;
  background: #333;
  font-size: 12px;
  color: #b0b0b0; }
  #header .top-nav ul li {
    float: left;
    line-height: 40px; }
    #header .top-nav ul li a {
      color: #b0b0b0; }
    #header .top-nav ul li:hover a {
      color: #fff; }
    #header .top-nav ul li span {
      color: #424242;
      margin: 0 5px; }
  #header .top-nav ul.nav-left {
    float: left; }
  #header .top-nav ul.nav-right {
    float: right; }
  #header .top-nav .shop-cart {
    float: right;
    margin-left: 20px;
    position: relative; }
    #header .top-nav .shop-cart a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: #b0b0b0;
      background: #424242;
      padding: 0 10px; }
    #header .top-nav .shop-cart-hide {
      position: absolute;
      top: 40px;
      right: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      z-index: 31;
      width: 250px;
      padding: 15px 0 0;
      color: #424242;
      background: #fff;
      padding: 50px 20px;
      text-align: center;
      display: none; }
    #header .top-nav .shop-cart:hover a {
      background: #fff;
      color: #ff6600; }

/*nav*/
#nav {
  height: 100px;
  position: relative; }
  #nav .logo, #nav .bner {
    float: left;
    height: 100px; }
    #nav .logo a, #nav .bner a {
      display: block; }
  #nav .logo a {
    width: 56px;
    height: 56px;
    background: #ff6600 url("../img/logo/logo.png") no-repeat center;
    margin-top: 22px; }
  #nav .bner a {
    width: 180px;
    height: 66px;
    background: #fff url("../img/bner/yyymix.gif") no-repeat center;
    margin-top: 17px; }
  #nav .main-nav {
    float: left;
    height: 100px; }
    #nav .main-nav li {
      float: left;
      line-height: 100px;
      padding: 0 10px; }
      #nav .main-nav li a {
        color: #333; }
      #nav .main-nav li:hover a {
        color: #ff6600; }
  #nav .sub-nav {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 12px;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    display: none;
    background: #fff;
    z-index: 31; }
    #nav .sub-nav ul {
      display: none; }
      #nav .sub-nav ul:first-child {
        display: block; }
    #nav .sub-nav li {
      float: left;
      width: 204px;
      text-align: center;
      position: relative; }
      #nav .sub-nav li p span {
        padding: 0 10px;
        border: 1px solid #ff6600;
        color: #ff6600; }
      #nav .sub-nav li p a {
        color: #000; }
      #nav .sub-nav li p.lable {
        height: 18px; }
      #nav .sub-nav li p.price {
        color: #ff6600;
        margin-bottom: 10px; }
      #nav .sub-nav li img {
        width: 160px;
        height: 110px;
        margin: 19px 0; }
      #nav .sub-nav li .gang {
        width: 0;
        height: 100px;
        border-right: 1px solid #e0e0e0;
        position: absolute;
        top: 42px;
        right: 0; }
  #nav .search {
    line-height: 100px;
    float: right;
    position: relative; }
    #nav .search .ipt-search {
      width: 243px;
      height: 48px;
      border: 1px solid #ddd;
      padding: 10px;
      border-right: none;
      background-color: #ffffff;
      outline: none;
      position: relative;
      top: -3px; }
    #nav .search .submit {
      width: 50px;
      height: 48px;
      border: 1px solid #ddd;
      outline: none;
      font-size: 18px;
      background-color: #fff;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      #nav .search .submit:hover {
        background-color: #ff6600;
        color: #fff;
        border-color: #ff6600; }
    #nav .search input.ipt-hover {
      border-color: #bbb; }
    #nav .search input.ipt-focus, #nav .search input.ipt-hover.ipt-focus {
      border-color: #ff6600; }
    #nav .search .search-hot {
      position: absolute;
      right: 60px;
      top: 0; }
      #nav .search .search-hot a {
        font-size: 12px;
        color: #757575;
        background-color: #eeeeee;
        padding: 4px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        #nav .search .search-hot a:hover {
          background-color: #ff6600;
          color: #fff; }
    #nav .search ul {
      width: 242px;
      border: 1px solid #ff6600;
      border-top: none;
      position: absolute;
      top: 73px;
      left: 0;
      display: none;
      z-index: 30; }
      #nav .search ul li {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        background-color: #fff; }
        #nav .search ul li:hover {
          background: #f8f8f8; }
        #nav .search ul li a {
          font-size: 12px;
          color: #424242;
          padding: 0 15px;
          display: block; }
          #nav .search ul li a span {
            color: #b0b0b0;
            float: right; }

/*banner*/
#banner {
  position: relative;
  margin-bottom: 26px; }
  #banner .slideshow {
    position: relative; }
    #banner .slideshow .img-box {
      position: relative;
      width: 1226px;
      height: 460px; }
      #banner .slideshow .img-box li {
        position: absolute;
        top: 0;
        left: 0; }
        #banner .slideshow .img-box li img {
          width: 1226px;
          height: 460px; }
      #banner .slideshow .img-box li.selected {
        z-index: 2; }
    #banner .slideshow .tab {
      position: absolute;
      z-index: 5;
      bottom: 35px;
      right: 25px; }
      #banner .slideshow .tab li {
        cursor: pointer;
        background: #f5f5f5;
        background: rgba(0, 0, 0, 0.4);
        border: 2px solid #fff;
        border-color: rgba(255, 255, 255, 0.3);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        float: left;
        margin: 0 5px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
        #banner .slideshow .tab li:hover {
          background: rgba(255, 255, 255, 0.4);
          border-color: #bbb; }
      #banner .slideshow .tab li.selected {
        background: rgba(255, 255, 255, 0.4);
        border-color: #bbb; }
    #banner .slideshow .btn {
      width: 41px;
      height: 69px;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      cursor: pointer;
      background: url("../img/icon/btn.png") no-repeat;
      z-index: 5; }
      #banner .slideshow .btn.left {
        left: 243px;
        background-position: -83px 0; }
        #banner .slideshow .btn.left:hover {
          background-position: 0 0; }
      #banner .slideshow .btn.right {
        right: 0;
        background-position: -124px 0; }
        #banner .slideshow .btn.right:hover {
          background-position: -42px 0; }
  #banner .side-bar {
    width: 243px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
    #banner .side-bar .one-nav {
      height: 42px;
      line-height: 42px;
      padding: 0 29px; }
      #banner .side-bar .one-nav .title {
        color: #fff;
        font-size: 14px; }
        #banner .side-bar .one-nav .title i {
          float: right; }
      #banner .side-bar .one-nav .nav-menu {
        height: 460px;
        position: absolute;
        top: 0;
        left: 243px;
        z-index: 30;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-left: 0;
        -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        -o-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
        padding-left: 20px;
        display: none; }
        #banner .side-bar .one-nav .nav-menu.ul1 {
          width: 240px; }
        #banner .side-bar .one-nav .nav-menu.ul2 {
          width: 481px; }
        #banner .side-bar .one-nav .nav-menu.ul3 {
          width: 721px; }
        #banner .side-bar .one-nav .nav-menu.ul4 {
          width: 962px; }
        #banner .side-bar .one-nav .nav-menu ul {
          width: 236px;
          float: left;
          padding: 2px 0; }
          #banner .side-bar .one-nav .nav-menu ul li {
            width: 236px;
            height: 76px;
            font-size: 14px;
            position: relative; }
            #banner .side-bar .one-nav .nav-menu ul li a.name {
              width: 170px;
              display: block;
              padding: 18px 0;
              line-height: 40px;
              color: #333;
              -webkit-transition: 0.2s;
              -moz-transition: 0.2s;
              -ms-transition: 0.2s;
              -o-transition: 0.2s;
              transition: 0.2s; }
              #banner .side-bar .one-nav .nav-menu ul li a.name img {
                margin-right: 12px;
                vertical-align: middle; }
              #banner .side-bar .one-nav .nav-menu ul li a.name:hover {
                color: #ff6600; }
              #banner .side-bar .one-nav .nav-menu ul li a.name.long {
                width: 256px; }
            #banner .side-bar .one-nav .nav-menu ul li a.buy {
              position: absolute;
              right: 30px;
              top: 26px;
              display: inline-block;
              width: 58px;
              height: 22px;
              line-height: 22px;
              border: 1px solid #ff6600;
              color: #ff6600;
              font-style: 12px;
              text-align: center; }
              #banner .side-bar .one-nav .nav-menu ul li a.buy:hover {
                background-color: #ff6600;
                color: #fff; }
      #banner .side-bar .one-nav:hover {
        background-color: #ff6600; }
        #banner .side-bar .one-nav:hover .nav-menu {
          display: block; }
  #banner .small-bner {
    height: 170px;
    margin-top: 14px; }
    #banner .small-bner .icon-box {
      width: 242px;
      height: 170px;
      background: #5f5750;
      float: left; }
      #banner .small-bner .icon-box ul li {
        width: 78px;
        height: 85px;
        float: left;
        position: relative; }
        #banner .small-bner .icon-box ul li a {
          text-align: center;
          width: 78px;
          height: 85px;
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          #banner .small-bner .icon-box ul li a i {
            display: block;
            padding: 18px 0 10px 0;
            font-size: 25px; }
          #banner .small-bner .icon-box ul li a span {
            display: block; }
          #banner .small-bner .icon-box ul li a:hover {
            color: #fff; }
        #banner .small-bner .icon-box ul li.li1::before, #banner .small-bner .icon-box ul li.li2::before, #banner .small-bner .icon-box ul li.li4::before, #banner .small-bner .icon-box ul li.li5::before {
          content: '';
          width: 0;
          height: 64px;
          border-right: 1px solid #665e57;
          display: block;
          position: absolute;
          top: 8px;
          right: 0; }
        #banner .small-bner .icon-box ul li.li1::after, #banner .small-bner .icon-box ul li.li2::after, #banner .small-bner .icon-box ul li.li3::after {
          content: '';
          width: 64px;
          height: 0;
          border-bottom: 1px solid #665e57;
          display: block;
          position: absolute;
          left: 8px;
          bottom: 0; }
    #banner .small-bner .img-box {
      float: left;
      width: 314px;
      margin-left: 14px;
      -webkit-transition: box-shadow 0.2s linear;
      -moz-transition: box-shadow 0.2s linear;
      -ms-transition: box-shadow 0.2s linear;
      -o-transition: box-shadow 0.2s linear;
      transition: box-shadow 0.2s linear; }
      #banner .small-bner .img-box:hover {
        -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
      #banner .small-bner .img-box a {
        width: 314px;
        height: 170px;
        display: block; }
        #banner .small-bner .img-box a img {
          width: 314px;
          height: 170px; }

/*start-product*/
#start-product {
  margin-bottom: 40px; }
  #start-product .title {
    height: 58px; }
    #start-product .title .arrows {
      float: right;
      height: 24px;
      margin: 17px; }
      #start-product .title .arrows a {
        display: inline-block;
        width: 34px;
        height: 22px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        text-align: center;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        #start-product .title .arrows a.left {
          border-right: none; }
        #start-product .title .arrows a.usable {
          color: #b0b0b0; }
          #start-product .title .arrows a.usable:hover {
            color: #ff6600; }
        #start-product .title .arrows a.unusable {
          color: #e0e0e0;
          cursor: default; }
  #start-product .product {
    width: 1226px;
    height: 340px;
    overflow: hidden;
    position: relative; }
    #start-product .product ul {
      width: 2452px;
      height: 340px;
      position: absolute;
      left: 0;
      -webkit-transition: left 0.5s;
      -moz-transition: left 0.5s;
      -ms-transition: left 0.5s;
      -o-transition: left 0.5s;
      transition: left 0.5s; }
      #start-product .product ul li {
        height: 339px;
        width: 234px;
        float: left;
        margin-right: 14px;
        background-color: #fafafa;
        text-align: center; }
        #start-product .product ul li.li1 {
          border-top: 1px solid #ffac13; }
        #start-product .product ul li.li2 {
          border-top: 1px solid #83c44e; }
        #start-product .product ul li.li3 {
          border-top: 1px solid #2196f3; }
        #start-product .product ul li.li4 {
          border-top: 1px solid #e53935; }
        #start-product .product ul li.li5 {
          border-top: 1px solid #00c0a5;
          margin-right: 0; }
        #start-product .product ul li .p-img {
          display: block;
          margin: 39px auto 22px; }
          #start-product .product ul li .p-img img {
            width: 160px;
            height: 160px; }
        #start-product .product ul li .p-title {
          display: block;
          margin: 0 auto 3px;
          font-size: 14px;
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #212121; }
        #start-product .product ul li .introduce {
          height: 18px;
          margin: 0 20px 12px;
          font-size: 12px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #b0b0b0; }
        #start-product .product ul li .p-price {
          color: #ff6600;
          font-size: 14px; }

/*鐏拌壊鑳屾櫙閮ㄥ垎*/
#main {
  width: 100%;
  background-color: #f5f5f5;
  padding: 60px 0; }
  #main .main-show {
    margin-bottom: 8px;
    height: 686px; }
    #main .main-show .ms-title {
      height: 58px;
      line-height: 58px; }
      #main .main-show .ms-title .ms-tab {
        float: right;
        height: 42px;
        padding-top: 16px; }
        #main .main-show .ms-title .ms-tab li {
          float: left;
          margin-left: 30px;
          line-height: 30px;
          border-bottom: 2px solid #f5f5f5;
          -webkit-transition: border-color 0.5s;
          -moz-transition: border-color 0.5s;
          -ms-transition: border-color 0.5s;
          -o-transition: border-color 0.5s;
          transition: border-color 0.5s; }
          #main .main-show .ms-title .ms-tab li a {
            color: #424242; }
          #main .main-show .ms-title .ms-tab li.selected {
            border-color: #ff6600; }
            #main .main-show .ms-title .ms-tab li.selected a {
              color: #ff6600; }
    #main .main-show .ms-main {
      height: 628px; }
      #main .main-show .ms-main .msm-bner {
        float: left;
        height: 614px;
        width: 234px; }
        #main .main-show .ms-main .msm-bner .img-box {
          position: relative;
          width: 234px;
          background: #fff;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear; }
          #main .main-show .ms-main .msm-bner .img-box a {
            display: block;
            width: 234px; }
          #main .main-show .ms-main .msm-bner .img-box img {
            width: 234px; }
          #main .main-show .ms-main .msm-bner .img-box:hover {
            top: -2px; }
        #main .main-show .ms-main .msm-bner .img-box1 a {
          height: 614px; }
          #main .main-show .ms-main .msm-bner .img-box1 a img {
            height: 614px; }
        #main .main-show .ms-main .msm-bner .img-box2 {
          margin-bottom: 14px; }
          #main .main-show .ms-main .msm-bner .img-box2 a {
            height: 300px; }
            #main .main-show .ms-main .msm-bner .img-box2 a img {
              height: 300px; }
      #main .main-show .ms-main .msm-shop {
        float: left;
        width: 992px;
        height: 614px; }
        #main .main-show .ms-main .msm-shop .msm-shop-list {
          width: 992px;
          height: 614px;
          display: none; }
          #main .main-show .ms-main .msm-shop .msm-shop-list.selected {
            display: block; }
          #main .main-show .ms-main .msm-shop .msm-shop-list li {
            width: 234px;
            height: 246px;
            padding: 34px 0 20px;
            margin: 0 0 14px 14px;
            background: #fff;
            text-align: center;
            position: relative;
            overflow: hidden;
            float: left; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-img {
              display: block;
              width: 150px;
              height: 156px;
              margin: 0 auto 10px; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-img img {
                width: 150px;
                height: 156px; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-title {
              color: #333;
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-introduce, #main .main-show .ms-main .msm-shop .msm-shop-list li .f-price {
              margin: 0 10px 10px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              height: 18px; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-introduce {
              font-size: 12px;
              color: #b0b0b0; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-price {
              color: #ff6600;
              font-size: 14px; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-price del {
                color: #b0b0b0; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-label {
              color: #fff;
              z-index: 3;
              width: 64px;
              height: 20px;
              position: absolute;
              top: 0;
              left: 50%;
              margin-left: -32px;
              font-size: 12px;
              line-height: 20px;
              text-align: center; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-label.r {
                background-color: #e53935; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-label.y {
                background-color: #ffac13; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-label.g {
                background-color: #83c44e; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-label.b {
                background-color: #2196f3; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li .f-detail {
              width: 174px;
              height: 60px;
              padding: 8px 30px;
              position: absolute;
              bottom: -76px;
              z-index: 5;
              font-size: 12px;
              background: #ff6600;
              text-align: left;
              -webkit-transition: all 0.2s linear;
              -moz-transition: all 0.2s linear;
              -ms-transition: all 0.2s linear;
              -o-transition: all 0.2s linear;
              transition: all 0.2s linear; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-detail .review {
                margin-bottom: 5px;
                color: #fff; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li .f-detail .author {
                color: rgba(255, 255, 255, 0.6);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li:hover {
              top: -2px;
              -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
              -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
              -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
              -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
              box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
              #main .main-show .ms-main .msm-shop .msm-shop-list li:hover .f-detail {
                bottom: 0; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more {
              height: 143px;
              padding: 0; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .st-text, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .st-img, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-text, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img {
                float: left; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .st-text, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-text {
                width: 94px;
                margin: 47px 0 47px 30px;
                text-align: left; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .st-img, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img {
                width: 80px;
                height: 80px; }
                #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .st-img img, #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img img {
                  margin-top: 25px;
                  width: 80px;
                  height: 80px; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top {
              font-size: 14px; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .stt-name a {
                color: #333; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-top .stt-script {
                margin-top: 10px;
                color: #ff6600; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .stt-name a {
              font-size: 18px;
              color: #333; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .stt-script a {
              font-size: 12px;
              color: #757575; }
            #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img {
              margin-top: 40px; }
              #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img a {
                color: #ff6600; }
                #main .main-show .ms-main .msm-shop .msm-shop-list li.s-more .st-img a i {
                  font-size: 48px; }

/*recommend*/
#recommend {
  height: 358px;
  width: 1226px;
  margin-bottom: 22px; }
  #recommend .title {
    height: 58px; }
    #recommend .title .arrows {
      float: right;
      height: 24px;
      margin: 17px; }
      #recommend .title .arrows a {
        display: inline-block;
        width: 34px;
        height: 22px;
        border: 1px solid #e0e0e0;
        background-color: #fff;
        text-align: center;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        #recommend .title .arrows a.left {
          border-right: none; }
        #recommend .title .arrows a.usable {
          color: #b0b0b0; }
          #recommend .title .arrows a.usable:hover {
            color: #ff6600; }
        #recommend .title .arrows a.unusable {
          color: #e0e0e0;
          cursor: default; }
  #recommend .visible-box {
    height: 320px;
    width: 1226px;
    position: relative;
    overflow: hidden; }
    #recommend .visible-box ul {
      height: 314px;
      width: 4960px;
      position: absolute;
      top: 0;
      left: 0; }
      #recommend .visible-box ul li {
        float: left;
        height: 300px;
        width: 234px;
        margin: 0 14px 14px 0;
        background-color: #fff;
        text-align: center;
        font-size: 14px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        #recommend .visible-box ul li:hover {
          position: relative;
          top: -2px;
          -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
        #recommend .visible-box ul li .img-box {
          display: block;
          width: 140px;
          height: 140px;
          margin: 40px auto 15px; }
          #recommend .visible-box ul li .img-box img {
            width: 140px;
            height: 140px; }
        #recommend .visible-box ul li .vbul-title {
          margin-bottom: 10px;
          height: 18px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
          #recommend .visible-box ul li .vbul-title a {
            color: #333; }
        #recommend .visible-box ul li .vbul-price {
          color: #ff6600;
          margin-bottom: 10px; }
        #recommend .visible-box ul li .vbul-tips {
          color: #757575; }

/*hot-comment*/
#hot-comment {
  height: 473px; }
  #hot-comment .title {
    height: 58px; }
  #hot-comment .hc-box {
    height: 415px; }
    #hot-comment .hc-box ul {
      height: 415px; }
      #hot-comment .hc-box ul li {
        height: 415px;
        width: 296px;
        margin: 0 14px 14px 0;
        background-color: #fff;
        float: left;
        position: relative;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        #hot-comment .hc-box ul li:hover {
          top: -2px;
          -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); }
        #hot-comment .hc-box ul li:last-child {
          margin-right: 0; }
        #hot-comment .hc-box ul li .img-box {
          display: block;
          width: 296px;
          height: 220px;
          margin-bottom: 28px; }
          #hot-comment .hc-box ul li .img-box img {
            width: 296px;
            height: 220px; }
        #hot-comment .hc-box ul li .review {
          height: 72px;
          margin: 0 28px 22px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          overflow: hidden; }
          #hot-comment .hc-box ul li .review a {
            color: #333; }
        #hot-comment .hc-box ul li .author {
          height: 18px;
          margin: 0 28px 8px;
          padding: 0 10px 0 0;
          font-size: 12px;
          color: #b0b0b0; }
        #hot-comment .hc-box ul li .info {
          margin: 0 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px; }
          #hot-comment .hc-box ul li .info .i-title {
            display: inline-block;
            font-weight: 400;
            max-width: 170px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: bottom; }
            #hot-comment .hc-box ul li .info .i-title a {
              color: #333; }
          #hot-comment .hc-box ul li .info .sep {
            color: #e0e0e0; }
          #hot-comment .hc-box ul li .info .num {
            color: #ff6700; }

/*# sourceMappingURL=style.css.map */
