/*通用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
    height: 3000px;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    border: none;
}
.clearfix {
    overflow: hidden;
    _zoom: 1;
}
.center{
	width: 1226px;
	margin: 0 auto;
}

$orange:#ff6600;
@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}@mixin box-shadow($box-shadow...) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  -o-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

/*#header*/
#header{
	$color1:#b0b0b0;
	$color2:#424242;
	.bner{
		background:#fff url('../img/bner/1.jpg') no-repeat center;
		width: 100%;
		height: 100px;
	}
	.top-nav{
		height: 40px;
		width: 100%;
		min-width: 1226px;
		background: #333;
		font-size: 12px;
		color: $color1;
		ul{
			li{
				float: left;
				line-height: 40px;
				a{
					color: $color1;

				}
				&:hover a{
					color:#fff;
				}
				span{
					color: $color2;
					margin: 0 5px;
				}
			}
			&.nav-left{
				float: left;
			}
			&.nav-right{
				float: right;
			}
		}
		.shop-cart{
			float: right;
			margin-left: 20px;
			position: relative;
			a{
				display: inline-block;
				height: 40px;
				line-height: 40px;
				text-align: center;
				color: $color1;
				background: $color2;
				padding: 0 10px;
			}
			&-hide{
				position: absolute;
				top: 40px;
				right: 0;
				@include box-shadow(0 2px 10px rgba(0,0,0,0.15));
				z-index: 31;
				width: 250px;
				padding: 15px 0 0;
				color: $color2;
				background: #fff;
				padding: 50px 20px;
				text-align: center;
				display: none;
			}
			&:hover{
				a{
					background: #fff;
					color: $orange;
				}
				// .shop-cart-hide{
				// 	display: block;
				// }
			} 

		}
	}
}
/*nav*/
#nav{
	height: 100px;
	position: relative;
	.logo,.bner{
		float: left;
		height: 100px;
		a{
			display: block;
		}
	}
	.logo{
		a{
			width: 56px;
			height: 56px;
			background:$orange url('../img/logo/logo.png') no-repeat center;
			margin-top: 22px;
		}
	}
	.bner{
		a{
			width: 180px;
			height: 66px;
			background:#fff url('../img/bner/yyymix.gif') no-repeat center;
			margin-top: 17px;
		}
	}
	.main-nav{
		float: left;
		height: 100px;
		li{
			float: left;
			line-height: 100px;
			padding: 0 10px;
			a{
				color: #333;
			}
			&:hover a{
				color: $orange;
			}
		}
	}
	.sub-nav{
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		width: 100%;
		font-size: 12px;
		border-top: 1px solid #ccc;
		@include box-shadow(0 2px rgba(0,0,0,0.15));
		display: none;
		background:#fff;
		z-index:31;
		ul{
			display: none;
			&:first-child{
				display: block;
			}
		}
		li{
			float: left;
			width: 204px;
			text-align: center;
			position: relative;
			p{
				span{
					padding: 0 10px;
					border: 1px solid $orange;
					color: $orange;
				}
				a{
					color: #000;
				}
				&.lable{
					height: 18px;
				}
				&.price{
					color: $orange;
					margin-bottom: 10px;
				}
			}
			img{
				width: 160px;
				height: 110px;
				margin: 19px 0;
			}
			.gang{
				width: 0;
				height: 100px;
				border-right: 1px solid #e0e0e0;
				position: absolute;
				top: 42px;
				right: 0;
			}
		}
	}
	.search{
		line-height: 100px;
		float: right;
		position: relative;
		.ipt-search{
			width: 243px;
	    height: 48px;
	    border: 1px solid #ddd;
	    padding: 10px;
	    border-right: none;
	    background-color: #ffffff;
	    outline: none;
	    position: relative;
	    top: -3px;
		}
		.submit{
			width: 50px;
			height: 48px;
			border: 1px solid #ddd;
			outline: none;
			font-size: 18px;
			background-color: #fff;
			@include transition(.2s);
			&:hover{
				background-color: $orange;
				color: #fff;
				border-color: $orange;
			}
		}
		input.ipt-hover{
			border-color:#bbb;
		}
		input.ipt-focus,input.ipt-hover.ipt-focus{
			border-color:$orange;
		}
		.search-hot{
			position: absolute;
			right: 60px;
			top: 0;
			a{
				font-size: 12px;
		    color: #757575;
		    background-color: #eeeeee;
		    padding: 4px;
		    @include transition(.2s);
		    &:hover{
		    	background-color: $orange;
					color: #fff;
		    }
			}
		}
		ul{
	    width: 242px;
	    border: 1px solid $orange;
	    border-top: none;
	    position: absolute;
	    top: 73px;
	    left: 0;
	    display: none;
	    z-index: 30;
	    li{
	    	height: 30px;
	    	line-height: 30px;
	    	cursor: pointer;
	    	background-color: #fff;
	    	&:hover{
	    		background:#f8f8f8;
	    	}
	    	a{
  		    font-size: 12px;
				  color: #424242;
				  padding: 0 15px;
				  display: block;
				  span{
				  	color: #b0b0b0;
				  	float: right;
				  }
	    	}
	    }
		}
	}
}
/*banner*/
#banner{
	position: relative;
	margin-bottom: 26px;
	.slideshow{
		position: relative;
		.img-box{
			position: relative;
			width: 1226px;
			height: 460px;
			li{
				position: absolute;
				top: 0;
				left: 0;
				img{
					width: 1226px;
					height: 460px;
				}
			}
			li.selected{
				z-index:2;
			}
		}
		.tab{
			position: absolute;
			z-index: 5;
			bottom: 35px;
			right: 25px;
			li{
				cursor: pointer;
				background: #f5f5f5;
				background: rgba(0, 0, 0, 0.4);
				border: 2px solid #fff;
				border-color: rgba(255, 255, 255, 0.3);
				width: 6px;
				height: 6px;
				border-radius: 50%;
				float: left;
				margin: 0 5px;
				@include transition(.2s);
				&:hover{
					background: rgba(255, 255, 255, 0.4);
					border-color: #bbb;
				}
			}
			li.selected{
				background: rgba(255, 255, 255, 0.4);
				border-color: #bbb;
			}
		}
		.btn{
			width: 41px;
			height: 69px;
			position: absolute;
			top: 50%;
			margin-top: -35px;
			cursor: pointer;
			background: url('../img/icon/btn.png') no-repeat;
			z-index:5;
			&.left{
				left: 243px;
				background-position: -83px 0;
				&:hover{
					background-position: 0 0;
				}
			}
			&.right{
				right: 0;
				background-position: -124px 0;
				&:hover{
					background-position: -42px 0;
				}
			}
		}
	}
	.side-bar{
		width: 243px;
		height: 420px;
		padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .one-nav{
    	// width: 100%;
    	height: 42px;
    	line-height: 42px;
    	padding: 0 29px;
    	.title{
    		color: #fff;
    		font-size: 14px;
    		i{
	    		float: right;
	    	}
    	} 
    	.nav-menu{
    		height: 460px;
    		position: absolute;
    		top: 0;
    		left: 243px;
    		z-index: 30;
    		background-color: #fff;
    		border: 1px solid #e0e0e0;
    		border-left: 0;
    		@include box-shadow(0 8px 16px rgba(0,0,0,0.18));
    		padding-left: 20px;
    		display: none;
    		&.ul1{
    			width: 240px;
    		}
    		&.ul2{
    			width: 481px;
    		}
    		&.ul3{
    			width: 721px;
    		}
    		&.ul4{
    			width: 962px;
    		}
    		ul{
    			width: 236px;
    			float: left;
			    padding: 2px 0;
			    li{
			    	width: 236px;
			    	height: 76px;
			    	font-size: 14px;
			    	position: relative;
			    	a.name{
			    		width: 170px;
							display: block;
							padding: 18px 0;
							line-height: 40px;
							color: #333;
							@include transition(.2s);
							img{
								margin-right: 12px;
								vertical-align: middle;
							}
							&:hover{
								color: $orange;
							}
							&.long{
								width: 256px;
							}
			    	}
			    	a.buy{
			    		position: absolute;
			    		right: 30px;
			    		top: 26px;
	    		    display: inline-block;
			    		width: 58px;
			    		height: 22px;
			    		line-height: 22px;
			    		border: 1px solid $orange;
			    		color: $orange;
			    		font-style: 12px;
			    		text-align: center;
			    		&:hover{
			    			background-color: $orange;
			    			color: #fff;
			    		}
			    	}
			    }
    		}
    	}
    	&:hover{
    		background-color: $orange;
				.nav-menu{
					display: block;
				}
    	}
    }
	}
	.small-bner{
		height: 170px;
		margin-top: 14px;
		.icon-box{
			width: 242px;
			height: 170px;
	    background: #5f5750;
	    float: left;
	    ul li{
	    	width: 78px;
   			height: 85px;
		    float: left;
		    position: relative;
	    	a{
	    		text-align: center;
	    		width: 78px;
	    		height: 85px;
	    		color: rgba(255, 255, 255, 0.7);
	    		font-size: 12px;
	    		@include transition(.2s);
	    		i{
	    			display: block;
   		  		padding: 18px 0 10px 0;
   		  		font-size: 25px;
	    		}
	    		span{
	    			display: block;
	    		}
	    		&:hover{
						color: #fff;
	    		}
	    	}
	    	&.li1::before,
	    	&.li2::before,
	    	&.li4::before,
	    	&.li5::before{
	    		content: '';
	    		width: 0;
	    		height: 64px;
	    		border-right: 1px solid #665e57;
	    		display: block;
	    		position: absolute;
	    		top: 8px;
	    		right: 0;
	    	}
	    	&.li1::after,
	    	&.li2::after,
	    	&.li3::after{
					content: '';
			    width: 64px;
			    height: 0;
			    border-bottom: 1px solid #665e57;
			    display: block;
			    position: absolute;
			    left: 8px;
			    bottom: 0;
	    	}
	    }
		}
		.img-box{
			float: left;
			width: 314px;
			margin-left: 14px;
			@include transition(box-shadow .2s linear);
			&:hover{
				@include box-shadow(0 15px 30px rgba(0,0,0,0.1));
			}
			a{
				width: 314px;
    		height: 170px;
    		display: block;
				img{
					width: 314px;
	    		height: 170px;
				}
			}	
		}
	}
}
/*start-product*/
#start-product{
	margin-bottom: 40px;
	.title{
		height: 58px;
		h2{
			font-size: 22px;
			font-weight: 200;
			color: #333;
			float: left;
			line-height: 58px;
		}
		.arrows{
			float: right;
			height: 24px;
			margin: 17px;
			a{
				display: inline-block;
		    width: 34px;
		    height: 22px;
		    border: 1px solid #e0e0e0;
		    background-color: #fff;
		    text-align: center;
		    @include transition(.5s);
		    &.left{
		    	border-right: none;
		    }
		    &.usable{
					color: #b0b0b0;
					&:hover{
						color: $orange;
					}
		    }
		    &.unusable{
		    	color: #e0e0e0;
		    	cursor: default;
		    }
			}
		}
	}
	.product{
		width: 1226px;
		height: 340px;
		overflow: hidden;
		position: relative;
		ul{
			width: 2452px;
			height: 340px;
			position: absolute;
			left: 0;
			@include transition(left .5s);
			li{
				height: 339px;
		    width: 234px;
		    float: left;
		    margin-right: 14px;
		    background-color: #fafafa;
		    text-align: center;
		    &.li1{
		    	border-top: 1px solid #ffac13;
		    }
		    &.li2{
		    	border-top: 1px solid #83c44e;
		    }
		    &.li3{
		    	border-top: 1px solid #2196f3;
		    }
		    &.li4{
		    	border-top: 1px solid #e53935;
		    }
		    &.li5{
		    	border-top: 1px solid #00c0a5;
		    	margin-right: 0;
		    }
		    .p-img{
		    	display: block;
		    	margin: 39px auto 22px;
		    	img{
		    		width: 160px;
		    		height: 160px;
		    	}
		    }
		    .p-title{
		    	display: block;
		    	margin: 0 auto 3px;
				  font-size: 14px;
				  font-weight: 400;
				  text-overflow: ellipsis;
				  white-space: nowrap;
				  overflow: hidden;
				  color: #212121;
		    }
		    .introduce{
		    	height: 18px;
		    	margin: 0 20px 12px;
		    	font-size: 12px;
		    	text-overflow: ellipsis;
		    	white-space: nowrap;
		    	overflow: hidden;
		    	color: #b0b0b0;
		    }
		    .p-price{
		    	color: $orange;
		    	font-size: 14px;
		    }
			}
		} 

		
	}
}
/*灰色背景*/
#main{
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 60px;
}